{% extends "BinaryTradeBundle:Layout:application.html.twig" %}

{% block title "Торговля - " ~ parent() %}
{% block pageClass "trading-page" %}

{% block content %}
    <div class="trading-terminal">
        <div class="grid">
            <div class="col graph-container" data-prototype="&lt;svg width=&quot;960&quot; height=&quot;500&quot;&gt;&lt;defs&gt;&lt;linearGradient id=&quot;linear-gradient&quot; x1=&quot;0&quot; x2=&quot;0&quot; y1=&quot;0&quot; y2=&quot;1&quot;&gt;&lt;stop offset=&quot;0%&quot; stop-color=&quot;#3594e6&quot;/&gt;&lt;stop offset=&quot;100%&quot; stop-color=&quot;#171e2e&quot;/&gt;&lt;/linearGradient&gt;&lt;/defs&gt;&lt;/svg&gt;">
                <svg width="960" height="500">
                    <defs>
                        <linearGradient id="linear-gradient" x1="0" x2="0" y1="0" y2="1">
                            <stop offset="0%" stop-color="#3594e6"/>
                            <stop offset="100%" stop-color="#171e2e"/>
                        </linearGradient>
                    </defs>
                </svg>
            </div>
            <div class="col exchanges-container">
                <div class="exchanges-table-with-filters-container">
                    <div class="exchange-filter grid">
                        <a href="javascript:" data-type="short" class="exchange-filter-tab button active">Короткие</a>
                        <a href="javascript:" data-type="long"  class="exchange-filter-tab button">Длинные</a>
                    </div>
                    <div class="exchange-filter grid exchange-filter-short">
                        <a href="javascript:" data-time-interval="30s" class="button button-small active">30 сек</a>
                        <a href="javascript:" data-time-interval="1m" class="button button-small">60 сек</a>
                        <a href="javascript:" data-time-interval="2m" class="button button-small">2 мин</a>
                        <a href="javascript:" data-time-interval="5m" class="button button-small">5 мин</a>
                        <a href="javascript:" data-time-interval="10m" class="button button-small">10 мин</a>
                    </div>
                    <div class="exchange-filter grid exchange-filter-long hidden">
                        <a href="javascript:" data-time-interval="3d" class="button button-small active">3 дня</a>
                        <a href="javascript:" data-time-interval="7d" class="button button-small">7 дней</a>
                        <a href="javascript:" data-time-interval="1_m" class="button button-small">1 мес</a>
                        <a href="javascript:" data-time-interval="3M" class="button button-small">3 мес</a>
                        <a href="javascript:" data-time-interval="6M" class="button button-small">6 мес</a>
                    </div>
                    <div class="exchanges-table-wrapper">
                        <table class="table exchanges-table">
                            <thead>
                            <tr>
                                <th width="110">Актив</th>
                                <th width="60">Цена</th>
                                <th class="pull-right">Тип</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td colspan="3" class="search-field-column">
                                    <form action="javascript:">
                                        <input type="text" id="assets-search-field" class="search-field" placeholder="Введите фразу для поиска" />
                                    </form>
                                </td>
                            </tr>
                            {% for asset in assets %}
                            <tr class="trading-asset" data-asset-name="{{ asset.name }}" data-asset="pid-{{ asset.pid }}" data-time-intervals="{{ asset.timeIntervals }}" {% for characteristic in asset.characteristics %}data-{{ characteristic.time }}="{{ characteristic.time }}" {% endfor %}>
                                <td>{{ asset.name }}</td>
                                <td data-asset-value="pid-{{ asset.pid }}">-</td>
                                <td class="pull-right"><span data-current-date-interval></span></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% if is_granted('ROLE_USER') %}
                <div class="place-a-bet">
                    <div class="grid">
                        <a href="javascript:" class="sell">Sell</a>
                        <a href="javascript:" class="buy">Buy</a>
                        <div class="current-price invisible"></div>
                    </div>
                    <form method="post" class="grid place-a-bet-form">
                        <input type="text" name="amount" class="input-field" />
                        <input type="submit" value="Торговать" class="submit-button" />
                        <input type="hidden" name="time-input" class="time-input" value="{{ tradingService.encodeTime('30s') }}" />
                        <input type="hidden" name="asset-price" class="asset-price" />
                        <input type="hidden" name="asset-id" class="asset-id" />
                        <input type="hidden" name="offer-multiplier" class="offer-multiplier" value="1.78" />
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="trading-additional-information">
        {% if is_granted('ROLE_USER') %}
        <div class="tabs" data-tabs-container>
            <div class="tabs-navigation grid">
                <a href="javascript:" data-page="/api/trades/positions" data-tab="opened-bets">Открытые позиции</a>
                <a href="javascript:" data-page="/api/trades/history" data-tab="history">История</a>
                <a href="javascript:" data-page="/api/trades/operations" data-tab="operations">Операции</a>
                <a href="javascript:" data-page="/api/trades/deposit" data-tab="deposit">Депозит</a>
                <a href="javascript:" data-page="/api/trades/withdraw" data-tab="withdraw">Вывод</a>
                <a href="javascript:" data-page="/api/trades/my-account" data-tab="my-account">Мой счёт</a>
            </div>
            <div class="tabs-contents">
                <div class="tab-content" data-tab="opened-bets">Bets</div>
                <div class="tab-content" data-tab="history">History</div>
                <div class="tab-content" data-tab="operations">Operations</div>
                <div class="tab-content" data-tab="deposit">Deposit</div>
                <div class="tab-content" data-tab="withdraw">Withdraw</div>
                <div class="tab-content" data-tab="my-account">My account</div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block js %}
    <script src="//d3js.org/d3.v4.min.js"></script>
{% endblock %}
