<html>
<head>
    <title>Dashboard - {% block title %}Empty{% endblock %}</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('dist/dashboard.css') }}" />

    {% block styles %}{% endblock %}
</head>
<body>
    <div class="grid app-page-wrapper">
        <div class="col app-sidebar-wrapper">
            <div class="app-header">
                <a href="{{ url('admin.default') }}" class="item static-item uppercase bold">Dashboard</a>
            </div>
            <div class="app-sidebar">
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a href="{{ path('administrators.index') }}" {% if sidebarService.getCurrentRoute starts with 'administrators' %}class="active"{% endif %} data-icon="supervisor_account">Администраторы</a>
                {% endif %}
                <a href="{{ path('users.index') }}" {% if sidebarService.getCurrentRoute starts with 'users' %}class="active"{% endif %} data-icon="person">Пользователи</a>
                <a href="{{ path('bets.index') }}" {% if sidebarService.getCurrentRoute starts with 'bets' %}class="active"{% endif %} data-icon="attach_money">Ставки</a>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <a href="{{ path('promo_code.index') }}" {% if sidebarService.getCurrentRoute starts with 'promo_code' %}class="active"{% endif %} data-icon="card_giftcard">Промокоды</a>
                <a href="{{ path('assets.index') }}" {% if sidebarService.getCurrentRoute starts with 'assets' %}class="active"{% endif %} data-icon="euro_symbol">Активы</a>
                <a href="{{ path('pages.index') }}" {% if sidebarService.getCurrentRoute starts with 'pages' %}class="active"{% endif %} data-icon="insert_drive_file">Статические страницы</a>
                <a href="{{ path('category.index') }}" {% if sidebarService.getCurrentRoute starts with 'category' %}class="active"{% endif %}>Категории</a>
                {% endif %}
            </div>
        </div>
        <div class="col app-content-wrapper">
            <div class="app-header no-left-padding">
                <div class="search-block">
                    <!-- empty -->
                </div>
                <div class="pull-right">
                    <a href="{{ path('homepage') }}" class="item">вернуться&nbsp;к&nbsp;сайту</a>
                    <a href="{{ path('logout') }}" class="item">logout</a>
                    <a href="javascript:" class="item static-item no-background">{{ app.user.username }}</a>
                </div>
            </div>
            <div class="app-content {% block body_classes %}{% endblock %}">
                {% block body %}
                    <div class="alert alert-compact card" data-icon="warning">
                        <div class="alert-title h1">Empty page</div>
                        <div class="alert-content">
                            <div class="h4">Page content not implemented</div>
                        </div>
                        <div class="alert-footer links-list">
                            <a href="{{  app.request.headers.get('referer') }}">Go back</a>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>

    <script>
        window.currentPage = '{{ app.request.attributes.get('_route') }}';
        window.apiKey = '{{ app.user.apiKey }}';

        window.websocketServer = {
          host: '{{ parser_websocket_server_host }}',
          port: '{{ parser_websocket_server_port }}'
        };
    </script>
    {% block scripts %}{% endblock %}
    <script src="http://{{ parser_websocket_server_host }}:{{ parser_websocket_server_port }}/socket.io/socket.io.js"></script>
    <script src="{{ asset('dist/dashboard.bundle.js') }}"></script>
</body>
</html>