{% block form_start %}
    {% do form.setMethodRendered() %}
    {% set method = method|upper %}
    {% if method in ["GET", "POST"] %}
        {% set form_method = method %}
    {% else %}
        {% set form_method = "POST" %}
    {% endif %}
    <form name="{{ name }}" method="{{ form_method|lower }}"{% if action != '' %} action="{{ action }}"{% endif %}{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %} class="form">
    {% if form_method != method %}
        <input type="hidden" name="_method" value="{{ method }}" />
    {% endif -%}
{% endblock form_start %}

{%- block form_end -%}
    {%- if not render_rest is defined or render_rest -%}
        {{ form_rest(form) }}
    {%- endif -%}
    </form>
{%- endblock form_end -%}

{% block _appbundle_user_save_widget %}
    <div class="form-group no-label no-top-offset">
        <div class="input-wrapper">
            <div class="buttons-list">
                {{ form_widget(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block _appbundle_page_save_widget %}
    <div class="form-group no-label no-top-offset">
        <div class="input-wrapper">
            <div class="buttons-list">
                {{ form_widget(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block _appbundle_promocode_save_widget %}
    <div class="form-group no-label no-top-offset">
        <div class="input-wrapper">
            <div class="buttons-list">
                {{ form_widget(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block _appbundle_balancehistory_save_widget %}
    <div class="form-group no-label no-top-offset">
        <div class="input-wrapper">
            <div class="buttons-list">
                {{ form_widget(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block _appbundle_asset_save_widget %}
    <div class="form-group no-label no-top-offset">
        <div class="input-wrapper">
            <div class="buttons-list">
                {{ form_widget(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block _appbundle_user_delete_widget %}
    <div class="form-group no-label no-top-offset">
        <div class="input-wrapper">
            <div class="buttons-list">
                {{ form_widget(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block form_row %}
    <div class="form-group {% if attr.class is defined %}{{ attr.class | e }}{% endif %}" {%- if choices is defined and multiple or name == 'content' -%}data-label-position="top"{%- endif -%} data-row-id="{{ id }}">
        <div class="label">{{ form_label(form) }}</div>
        <div class="input-wrapper">
            <div class="input-container" {% if required %} data-required="data-required" {% endif %}>{{ form_widget(form) }}</div>
        </div>
    </div>
{% endblock form_row %}

{% block checkbox_widget %}
    <div class="checkbox-container">
        {{ form_widget(form, { type: "checkbox" }) }}
        <div class="checkbox-placeholder"></div>
    </div>
{% endblock %}

{% block collection_row %}
    <div class="form-group" data-label-position="top">
        <div class="label has-top-offset">{{ form_label(form) }}</div>
        <div class="input-wrapper">
            <div class="input-container" {% if required %} data-required="data-required" {% endif %}>{{ form_widget(form) }}</div>
        </div>
    </div>
{% endblock %}

{% block collection_widget %}
    <div class="collection-container" {% if form.vars.prototype is defined %} data-prototype="{{ form_widget(form.vars.prototype)|e }}" {% endif %}>
        {{ form(form) }}
        <div class="collection-container-footer">
            <a href="javascript:" data-add-collection-item>Add</a>
        </div>
    </div>
{% endblock %}

{% block _appbundle_asset_characteristics_entry_row %}
    <div class="collection-item" data-item-id="{{ value.id }}">
        {{ form_widget(form) }}
        <div class="collection-item-footer">
            <a href="javascript:" data-delete-collection-item data-id="{{ value.id }}">delete</a>
        </div>
    </div>
{% endblock %}

{% block _appbundle_page_content_widget %}
    {{ form_widget(form) }}
    <script>
        window.addEventListener('load', function () {
            var simplemde = new SimpleMDE({
                spellChecker: false
            });
            simplemde.codemirror.on('change', function () {
                document.querySelector('[data-row-id="{{ id }}"] textarea').value = this.simplemde.value();
            }.bind({
                simplemde: simplemde
            }));
        });
    </script>
{% endblock %}

{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        <div class="choice-expanded">
            {%- for child in form %}
            <div class="choice-widget">
                {{- form_widget(child) -}}
                {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}
            </div>
            {% endfor -%}
        </div>
    </div>
{%- endblock choice_widget_expanded -%}

{% block form_error %}
    {% spaceless %}
    {% if errors|length > 0 %}
        <div class="errors">
            <ul>
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% endspaceless %}
{% endblock %}
