{% extends "BinaryTradeBundle:Layout:application.html.twig" %}

{% block title page.title ~ " - Руководство трейдера - " ~ parent() %}

{% block pageClass "guide-page" %}

{% block content %}
    <h1 class="content-page-header">Руководство трейдера</h1>
    <div class="grid guide-content">
        <div class="col guide-navigation">
            <div class="guide-navigation-wrapper">
                {% for category in categories %}
                <div class="guide-navigation-section">{{ category.name }}</div>
                    {% if category.pages.count > 0 %}
                    <ul class="guide-navigation-links">
                    {% for page in category.pages %}
                        <li><a href="{{ url('guide.show.page', { slug: page.slug }) }}">{{ page.title }}</a></li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col guide-page-content">
            <div class="guide-page-content-wrapper">
                <div class="guide-title">{{ page.title }}</div>
                <div class="guide-text">
                    {{ page.contentCompiled | raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
