{% extends '@Admin/User/show.html.twig' %}

{% block title user.username ~ " Банас пользователя" %}

{% block show_user_content %}
    <h3 class="offset-left offset-bottom">Текущий баланс: {{ user.balance }}$</h3>

    <table class="table">
        <thead>
        <tr>
            <th width="175">тип</th>
            <th>сумма</th>
        </tr>
        </thead>
        <tbody>
        {% for balance_history in history %}
        <tr>
            <td>{{ balance_history.type }}</td>
            <td><span class="balance-history-type"><span class="type-{{ balance_history.type }}">{{ balance_history.amount }}</span>&nbsp;{{ currency }}</span></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include '@Admin/pagination/pagination.html.twig' with {pagination: history, path: 'users.show.balance.page', params: { id: user.id } } only %}
{% endblock %}