{% extends "@Admin/base.html.twig" %}

{% block title "Users" %}

{% block body %}

    <table class="table card">
        <thead>
        <tr>
            <th width="75">id</th>
            <th width="300">Имя пользователя</th>
            <th>Промокод</th>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <th class="pull-right contains-button">
                <a href="{{ path('users.create') }}" class="button button-small">создать</a>
            </th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td><a href="{{ path('users.edit', { id: user.id }) }}">{{ user.username }}</a></td>
            <td {% if is_granted('ROLE_SUPER_ADMIN') %} colspan="2" {% endif %}>
                {% if user.promocode != null %}
                <a href="{{ url('users.index', { promo: user.promocode.code }) }}">{{ user.promocode }}</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include '@Admin/pagination/pagination.html.twig' with { pagination: users, path: 'users.index.page', params: params } only %}

{% endblock %}
