{% extends '@Admin/User/show.html.twig' %}

{% block tabs_content_classes "no-paddings" %}

{% block show_user_content %}

    <table class="table">
        <thead>
        <tr>
            <th width="120">direction</th>
            <th width="170">target direction</th>
            <th>created at</th>
            <th width="155">period(minutes)</th>
            <th width="150" class="pull-right">result</th>
            <th width="150" class="pull-right">amount</th>
            <th width="150" class="pull-right">gainings</th>
            <th width="150" class="pull-right">actions</th>
        </tr>
        </thead>
        <tbody>
        {% for trade in trades %}
        <tr class="highlight-row-as-error" {% spaceless %}{% if trade.gainings == 0 and trade.finished %}class="highlight-row-as-error"{% endif %}{% endspaceless %}>
            <td>{{ trade.direction }}</td>
            <td>{% spaceless %}
                    {% if trade.predefinedDirection != null %}
                        {{ trade.predefinedDirection }}
                    {% else %}
                        Не указано
                    {% endif %}
            {% endspaceless %}</td>
            <td>{{ trade.createdAtString }}</td>
            <td>{{ trade.period }}</td>
            <td class="pull-right">{% spaceless %}
                    {% if trade.finished %}
                        {% if trade.gainings == 0 %}
                            fail
                        {% else %}
                            success
                        {% endif %}
                    {% else %}
                        Открыто
                    {% endif %}
            {% endspaceless %}</td>
            <td class="pull-right">{{ trade.amount }}</td>
            <td class="pull-right">{{ trade.gainings }}</td>
            <td class="pull-right set-trade-result-buttons no-paddings">{% spaceless %}
                    {% if trade.finished == false %}
                    <div class="trade-result-buttons-container">
                        <a href="javascript:"><i class="material-icons">keyboard_arrow_up</i></a>
                        <a href="javascript:"><i class="material-icons">keyboard_arrow_down</i></a>
                    </div>
                    {% endif %}
            {% endspaceless %}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include '@Admin/pagination/pagination.html.twig' with {pagination: trades, path: 'users.show.trade.page', params: { id: user.id } } only %}

{% endblock %}