{% extends '@Admin/User/show.html.twig' %}

{% block title user.username ~ " trades" %}
{% block tabs_content_classes "no-paddings" %}

{% block show_user_content %}

    <table class="table">
        <thead>
        <tr>
            <th width="120">direction</th>
            <th width="170">target direction</th>
            <th>created at</th>
            <th width="150">asset</th>
            <th width="100">period</th>
            <th width="150" class="pull-right">result</th>
            <th width="150" class="pull-right">amount</th>
            <th width="150" class="pull-right">gainings</th>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <th width="150" class="pull-right">actions</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for trade in trades %}
        <tr {% spaceless %}{% if trade.gainings == 0 and trade.finished %}class="highlight-row-as-error"{% endif %}{% endspaceless %}>
            <td>{{ trade.direction }}</td>
            <td>{% spaceless %}
                    {% if trade.predefinedDirection != null %}
                        {{ trade.predefinedDirection }}
                    {% else %}
                        Не указано
                    {% endif %}
            {% endspaceless %}</td>
            <td>{{ trade.createdAtString }}</td>
            <td>{{ trade.assetName }}</td>
            <td>{{ trade.period }}</td>
            <td class="pull-right">{% spaceless %}
                    {% if trade.finished %}
                        {% if trade.gainings == 0 %}
                            fail
                        {% else %}
                            success
                        {% endif %}
                    {% else %}
                        Открыто
                    {% endif %}
            {% endspaceless %}</td>
            <td class="pull-right">{{ trade.amount }} $</td>
            <td class="pull-right">{{ trade.gainings }} $</td>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <td class="pull-right set-trade-result-buttons no-paddings">{% spaceless %}
                    {% if trade.finished == false and trade.predefinedDirection == null %}
                    <form class="trade-result-buttons-container" method="post" action="{{ url('users.trades.predefined_direction', { id: user.id, tid: trade.id }) }}">
                        <input type="hidden" name="predefined_direction" />
                        <a href="javascript:" onclick="this.parentElement.firstChild.value = 'up'; this.parentElement.submit();"><i class="material-icons">keyboard_arrow_up</i></a>
                        <a href="javascript:" onclick="this.parentElement.firstChild.value = 'down'; this.parentElement.submit();"><i class="material-icons">keyboard_arrow_down</i></a>
                    </form>
                    {% endif %}
            {% endspaceless %}</td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include '@Admin/pagination/pagination.html.twig' with {pagination: trades, path: 'users.show.trades.page', params: { id: user.id } } only %}

{% endblock %}