{% extends "@Admin/base.html.twig" %}

{% block title "Pages" %}

{% block body %}


    <table class="table card">
        <thead>
        <tr>
            <th width="75">id</th>
            <th width="350">Заголовок</th>
            <th>Адрес</th>
            <th width="200">Категория</th>
            <th width="250" class="pull-right contains-button"><a href="{{ path('pages.create') }}" class="button button-small">создать</a></th>
        </tr>
        </thead>
        <tbody>
        {% for page in pages %}
        <tr>
            <td>{{ page.id }}</td>
            <td>{{ page.title }}</td>
            <td>{{ page.slug }}</td>
            <td>{% if page.category is not null %}{{ page.category.name }}{% endif %}</td>
            <td class="pull-right links-list">
                <a href="{{ path('pages.delete', { id: page.id }) }}">удалить</a>
                <a href="{{ path('pages.edit', { id: page.id }) }}">редактировать</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include '@Admin/pagination/pagination.html.twig' with { pagination: pages, path: 'pages.index.page' } only %}

{% endblock %}
